/* 메인페이지 */
.preview-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

#expand-button-container {
  display: flex;
  justify-content: center;
}

#preview-container {
  width: 100%;
}

#expand-button {
  margin: 2rem 0 1rem 0;
}

#preview-margin {
  height: 5vh;
}

#search-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* 판매, 교환완료 게시글 스타일 */
.done-post .overlay {
  z-index: 200;
  border-radius: 10px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* 반투명한 회색 배경 */
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff; /* 글자 색상을 흰색으로 설정 (반투명 배경 위에 흰색 글자를 두기 위함) */
}

/* 게시글페이지 */
#main-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

#mainpost-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

#post-content-container {
  white-space: pre-line;
  font-size: 24px;
  padding: 1rem;
}

#post-title-container {
  margin: 2rem 0;
}

#post-blank {
  height: 3rem;
}

.no-content {
  text-align: center;
  margin: 3rem;
}

.post-tab {
  width: 80vw;
}

.card-content {
  width: 7rem;
}

#post-icon {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 20vw;
  padding: 1rem 1rem;
  z-index: 2000;
}

.card-style {
  width: 35vw;
  margin: 0.2rem;
  position: relative;
}

/* 마이페이지 게시글 관련 */
#deleted-post-container {
  text-align: center;
}

#card-list-container {
  width: 100%;
}

#deleted-post-imoji {
  width: 100%;
  font-size: 100px;
  margin: 10vh 0 5vh;
}

#go-back-button {
  background-color: var(--primary-color);
  color: var(--info-color);
  padding: 0.5rem 1rem;
}

#circular {
  width: 100%;
  height: 20vh;
  display: flex;
  justify-content: center;
}
